.feed-card .reactions {
  font-size: 22px;
}
.feed-card .reactions i {
  cursor: pointer;
}
.feed-card .reactions span {
  padding: 0 5px;
}
.feed-card .img {
  border: 3px solid #fff;
}
.feed-card .img,
img {
  border-radius: 22px;
}
.feed-card .person .person-name {
  color: #3e3e8d;
  font-size: 16px;
  font-weight: 700;
}
.liked {
  color: #ff0018;
}
