#stories {
  border-bottom: 1px solid #e8e8ea;
}
#stories .story {
  padding: 0 7px;
}
#stories .story .person {
  border: 3px solid #a974ff;
  border-radius: 50%;
  overflow: hidden;
  width: 85px;
  height: 85px;
  padding: 4px;
  position: relative;
}
#stories .story .person .overlay {
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  background-color: #a974ffcc;
  transform: scale(0);
  transition: all 0.2s;
  cursor: pointer;
}
#stories .story .person:hover .overlay {
  transform: scale(1);
}
#stories .story .person .overlay i {
  font-size: 28px;
  color: #fff !important;
}
#stories .story .person img {
  width: 71px;
  height: 72px;
  border-radius: 50%;
}
#stories .story .person-name {
  color: #3e3e8d;
  padding-top: 15px;
}
